.profile {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 420px;
    z-index: 20;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    transition: all 0.5s linear;
    animation: apear 0.1s linear;
}

@keyframes apear {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.profile__header {
    width: 100%;
    padding: 5px 5px;
    height: var(--header-bar);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile__header--action {
    height: 100%;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #877d7d;
}

.profile__header--close--x {
    display: block;
}

.profile__header--close--arrow {
    display: none;
}

@media screen and (max-width: 739px) {
    .profile {
        width: 100%;
    }

    .profile__header--close--x {
        display: none;
    }

    .profile__header--close--arrow {
        display: block;
    }
}

.profile__header--action:hover {
    background-color: var(--background-hover);
    cursor: pointer;
}

.profile__header--title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.profile__infor {
    width: 100%;
    height: 420px;
    background-image: url("https://media.istockphoto.com/id/1322277517/photo/wild-grass-in-the-mountains-at-sunset.jpg?s=612x612&w=0&k=20&c=6mItwwFFGqKNKEAzv0mv6TaxhLN3zSE43bWmFN--J5w=");
    background-repeat: no-repeat;
    display: flex;
    padding: 20px 10px;
}

.profile__infor--name {
    align-self: flex-end;
    color: #fff;
}

.profile__infor--name p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.profile__infor--name span {
    font-size: 15px;
    color: #877d7d;
}

.profile__infor--email span {
    color: #fff;
    font-size: 16px;
}

.profile__features {
    width: 100%;
    height: calc(100vh - var(--header-bar) - 420px);
    padding: 0 10px;
    overflow-y: scroll;
}

.profile__features::-webkit-scrollbar {
    width: 4px;
}

.profile__features::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.profile__features::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.profile__features--list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.profile__features--item {
    width: 100%;
    height: 50px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.profile__features--item img {
    height: 100%;
}

.profile__features--item--avatar {
    height: 100%;
}
.profile__features--item--infor {
    margin-left: 10px;
}

.profile__features--item--infor p {
    font-size: 16px;
    font-weight: 500;
}

.profile__features--item--infor span {
    font-size: 15px;
    color: #877d7d;
}

.profile__features--item--select {
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__features--item--select:hover {
    background-color: var(--background-hover);
    cursor: pointer;
}
